@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --color-theme: #bcc89d; */
  /* --color-theme-dark: #858f67; */
  /* --color-theme-black: #1e1e1e; */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

* {
  /* outline: 1px solid #ff000050; */
}
